.card-container {
    width: 300px;
    height: 400px;
    perspective: 1000px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-blue);
    border-radius: 8px;
    overflow: hidden;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-default img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  