.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--color-celadon);
  padding: 10px 20px;
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
}

.social-links a {
  margin-right: 15px;
  color: var(--color-dark-blue);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s;
  line-height: 1;
}

.social-links a:last-child {
  margin-right: 0;
}

.social-icon {
  width: 24px;
  height: 24px;
  transition: fill 0.3s;
  fill: currentColor;
}
.social-links a:hover {
  color: var(--color-dark);
}
