:root {
  --color-dark: #01161e;
  --color-midnight: #124559;
  --color-blue: #598392;
  --color-celadon: #aec3b0;
  --color-bone: #eff6e0;
}

body {
  background-color: var(--color-dark);
  color: var(--color-celadon);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
